<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "QuoteCanvas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Shippori+Mincho:wght@600;700&display=swap" rel="stylesheet">
  </head>

  <body class="min-h-dvh flex flex-col bg-base-200">
  <%= render "shared/header" %>

  <main class="container mx-auto w-full max-w-6xl flex-1 px-4 md:px-8 pt-16 md:pt-20 pb-10
               min-h-[calc(100dvh-4rem-4rem)] md:min-h-[calc(100dvh-5rem-4rem)]">
    <!-- フラッシュの高さを確保してガタつきを防ぐ -->
    <div class="min-h-10">
      <% if notice %><div class="alert alert-info mb-4"><%= notice %></div><% end %>
      <% if alert  %><div class="alert alert-error mb-4"><%= alert %></div><% end %>
    </div>

    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>